<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

  <div class="container my-4 mt-4">
<h6>    About Ashveen Verma : Your Data Scientist / ML Engineer
</h6>
<h5>Meet the Developer</h5>

<p>Hello, I'm Ashveen Verma, your Data Scientist with over 1 year of Self Lerning+ Project experience in the field. I am passionate about technology to make a positive impact on people's lives. Allow me to share a bit about my journey in the world of artificial intelligence and machine learning.
</p>
<h5>My Expertise
</h5>
<p>With a robust foundation in data analysis,machine learning, Model Building , Recommendation System , I excel in extracting actionable insights from complex datasets. Proficient in Python, SQL, Machine Learning and a range of visualization tools like Tableau and Power BI, I've led numerous successful projects spanning recommendation systems, sentiment analysis, and predictive modeling.
</p>
<h5>A Commitment to Excellence
</h5>
<p>My work is driven by a commitment to excellence and a belief that technology should be accessible and beneficial to everyone. Whether it's developing predictive models, creating intelligent algorithms, or designing user-friendly interfaces, I strive for solutions that are both cutting-edge and user-centric.
</p>

<h5>Join Me on this Journey
</h5>
<p>I invite you to explore and experience firsthand the fusion of AI and healthcare. Together, we can empower individuals with knowledge, promote well-being, and contribute to a brighter and healthier future.
</p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>